# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
TestDB_Horilla.sqlite3
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

*.pyc

# migration files
**/migrations/**
!**/migrations
!**/migrations/__init__.py

# media file
media/

#collected static files
staticfiles/

#node_modules
node_modules/

#whoosh folder
whoosh_index/

#VSCode
.vscode/

#PyCharm
.idea/

talentvenv/
talentenv/lib64
talentenv/pyvenv.cfg
talentenv/bin/activate
talentenv/bin/activate.csh
talentenv/bin/activate.fish
talentenv/bin/Activate.ps1
talentenv/bin/chardetect
talentenv/bin/django-admin
talentenv/bin/f2py
talentenv/bin/futurize
talentenv/bin/gunicorn
talentenv/bin/jp.py
talentenv/bin/normalizer
talentenv/bin/numpy-config
talentenv/bin/pasteurize
talentenv/bin/pip
talentenv/bin/pip3
talentenv/bin/pip3.9
talentenv/bin/pisa
talentenv/bin/prichunkpng
talentenv/bin/pricolpng
talentenv/bin/priditherpng
talentenv/bin/priforgepng
talentenv/bin/prigreypng
talentenv/bin/pripalpng
talentenv/bin/pripamtopng
talentenv/bin/priplan9topng
talentenv/bin/pripnglsch
talentenv/bin/pripngtopam
talentenv/bin/prirowpng
talentenv/bin/priweavepng
talentenv/bin/pybidi
talentenv/bin/pymupdf
talentenv/bin/pyrsa-decrypt
talentenv/bin/pyrsa-encrypt
talentenv/bin/pyrsa-keygen
talentenv/bin/pyrsa-priv2pub
talentenv/bin/pyrsa-sign
talentenv/bin/pyrsa-verify
talentenv/bin/python
talentenv/bin/python3
talentenv/bin/python3.9
talentenv/bin/qr
talentenv/bin/sqlformat
talentenv/bin/svg2pdf
talentenv/bin/vba_extract.py
talentenv/bin/xhtml2pdf
talentenv/share/man/man1/svg2pdf.1

horilla/locale
