{% extends 'index.html' %}
{% load static i18n %}
{% load i18n %}
{% load pmsfilters %}

{% block content %}

<div class="oh-wrapper oh-card--w-resp-75">
  <!--feedback answer form -->
  <form action="{% url 'feedback-answer-post' id=feedback.id %}" method="post">
    {% csrf_token %}
    <div class="oh-wrapper">
      <div class="oh-main__titlebar oh-main__titlebar--left">
        <h1 class="oh-main__titlebar-title fw-bold ml-3 mb-3 mt-3">
          {% trans "Feedback Answer" %}
        </h1>
      </div>

      <div class="oh-card mb-3">

        {% regroup questions by question as question_groups %}

        {% for group in question_groups %}
          <div class="d-block mb-3">
            <span class="oh-label oh-label--question">{{ forloop.counter }}. {{ group.grouper }}</span>

             {% for question_item in group.list %}
              <div style="color: #545454;">
                {% if question_item.title %}
                  <span class="oh-label oh-label--question" style="font-size: 1.2rem;">{{ question_item.title }}</span>
                {% endif %}
                  
                {% if question_item.description %}
                  <span class="oh-label oh-label--question" style="color: #545454; font-weight: 100;">{{ question_item.description }}</span>
                {% endif %}

                {% if question_item.points %}
                  <p style="font-weight: bold; margin-bottom: 0;">What it involves:</p>
                  <ul class="oh-label--question" style="list-style-type: disc; font-weight: 100; margin-top: 0;">{{ question_item.points|comma_to_list|safe }}</ul>
                {% endif %}

                {% if question_item.footer %}
                  <p style="font-weight: bold; margin-bottom: 0;">In short:</p>
                  <span class="oh-label--question" style="font-weight: 100; margin-bottom: 1rem;">{{ question_item.footer }}</span>
                {% endif %}
              </div>
             {% endfor %}


            {# ---- RATING (type '2') ---- #}
            {% for q in group.list %}
              {% if q.question_type == '2' %}
                <div class="oh-rate mt-2 mb-2">
                  {% for i in rating_values %}
                    <input type="radio" id="star{{i}}{{q.id}}" name="answer{{q.id}}" class="rating-radio" value="{{i}}"
                           {% if existing_answers|get:q.id == i|stringformat:"s" %}checked{% endif %} />
                    <label for="star{{i}}{{q.id}}" title="{{i}} {% trans 'Stars' %}">{{i}} {% trans "Stars" %}</label>
                  {% endfor %}
                </div>
                <span id="rating-radio-error"></span>
              {% endif %}
            {% endfor %}

            {# ---- TEXT (type '1') ---- #}
            {% for q in group.list %}
              {% if q.question_type == '1' %}
                 <textarea
                  class="oh-input w-100" name="answer{{ q.id }}" 
                  required>
                  {{val}}
                </textarea>
              {% endif %}
            {% endfor %}

            {# ---- BOOLEAN (type '3') ---- #}
            {% for q in group.list %}
              {% if q.question_type == '3' %}
                <div class="oh-input__group mt-2">
                  <div class="oh-input-picker-group">
                    <label class="oh-input-picker oh-input-picker--likert oh-input-picker--4">
                      {% trans "Yes" %}
                      <input type="radio" name="answer{{q.id}}" value="yes"
                             {% if existing_answers|get:q.id == 'yes' %}checked{% endif %} />
                    </label>
                    <label class="oh-input-picker oh-input-picker--likert oh-input-picker--1">
                      {% trans "No" %}
                      <input type="radio" name="answer{{q.id}}" value="no"
                             {% if existing_answers|get:q.id == 'no' %}checked{% endif %} />
                    </label>
                  </div>
                </div>
              {% endif %}
            {% endfor %}

            {# ---- MULTI-CHOICES (type '4') ---- #}
            {% for q in group.list %}
              {% if q.question_type == '4' %}
                <div class="d-block mt-2">
                  <div class="oh-questions mt-2">
                    {% for option in options %}
                      {% if option.question_id.id == q.id %}
                        {% if option.option_a %}
                          <div class="oh-questions__answer" style="display:inline-block; margin-right:10px;">
                            <label class="custom-radio-container">
                              <input type="radio" name="answer{{ q.id }}" value="{{ option.option_a }}" />
                              <span class="custom-radio-checkmark"></span>
                              {{ option.option_a }}
                            </label>
                          </div>
                        {% endif %}
                        {% if option.option_b %}
                          <div class="oh-questions__answer" style="display:inline-block; margin-right:10px;">
                            <label class="custom-radio-container">
                              <input type="radio" name="answer{{ q.id }}" value="{{ option.option_b }}" />
                              <span class="custom-radio-checkmark"></span>
                              {{ option.option_b }}
                            </label>
                          </div>
                        {% endif %}
                        {% if option.option_c %}
                          <div class="oh-questions__answer" style="display:inline-block; margin-right:10px;">
                            <label class="custom-radio-container">
                              <input type="radio" name="answer{{ q.id }}" value="{{ option.option_c }}" />
                              <span class="custom-radio-checkmark"></span>
                              {{ option.option_c }}
                            </label>
                          </div>
                        {% endif %}
                        {% if option.option_d %}
                          <div class="oh-questions__answer" style="display:inline-block; margin-right:10px;">
                            <label class="custom-radio-container">
                              <input type="radio" name="answer{{ q.id }}" value="{{ option.option_d }}" />
                              <span class="custom-radio-checkmark"></span>
                              {{ option.option_d }}
                            </label>
                          </div>
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
              {% endif %}
            {% endfor %}

            {# ---- LIKERT (type '5') ---- #}
            {% for q in group.list %}
              {% if q.question_type == '5' %}
                <div class="d-block mt-2">
                  <div class="oh-input-picker-group oh-input-picker-group--resp mt-2">
                    {% for val in likert_values %}
                      <div class="oh-input-picker oh-input-picker--likert oh-input-picker--{{ forloop.counter }}  {% if existing_answers|get:q.id|stringformat:"s" == val|stringformat:"s" %}oh-input-picker--selected{% endif %}">
                        {% trans val %}
                        <input type="radio" name="answer{{q.id}}" value="{{ val }}"
                               {% if existing_answers|get:q.id|stringformat:"s" == val|stringformat:"s" %}checked{% endif %} />
                      </div>
                    {% endfor %}
                  </div>
                </div>
              {% endif %}
            {% endfor %}

          </div>
        {% endfor %}

      </div>

      {# ---- KEY RESULTS ---- #}
      {% if feedback.employee_key_results_id.all %}
        <div class="oh-main__titlebar oh-main__titlebar--left">
          <h1 class="oh-main__titlebar-title fw-bold ml-3 mb-3 mt-3">
            {% trans "Key Result" %}
          </h1>
        </div>

        <div class="oh-card">
          {% for key_result in feedback.employee_key_results_id.all %}
            <div class="d-block">
              <span class="oh-label oh-label--question">{{ forloop.counter }}. {{ key_result.key_result }}</span>
              <div class="oh-input-picker-group oh-input-picker-group--resp mt-2">
                {% for val in keyresult_values %}
                  <div class="oh-input-picker oh-input-picker--likert oh-input-picker--{{ forloop.counter }} {% if existing_keyresults|get:key_result.id == val %}oh-input-picker--selected{% endif %}"">
                    {% trans val %}
                    <input type="radio" name="key_result{{key_result.id}}" value="{{val}}" required
                           {% if existing_keyresults|get:key_result.id == val %}checked{% endif %} />
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}

      <div class="oh-modal__dialog-footer mb-3 flex gap-3">
        <button type="submit" name="action" value="save" class="oh-btn oh-btn--secondary oh-btn--shadow">
          {% trans "Save" %}
        </button>

        <button type="submit" name="action" value="submit" class="oh-btn oh-btn--primary oh-btn--shadow">
          {% trans "Submit" %}
        </button>
      </div>
    </div>
  </form>
</div>
{% endblock content %}
