{% extends 'index.html' %}
{% load static i18n %}
{% load i18n %}
{% load pmsfilters %}

{% block content %}

<div class="oh-wrapper oh-card--w-resp-75">
  <!--feedback answer form -->
  <form action="{% url 'feedback-answer-post' id=feedback.id %}" method="post">
    {% csrf_token %}
    <div class="oh-wrapper">
      <div class="oh-main__titlebar oh-main__titlebar--left">
        <h1 class="oh-main__titlebar-title fw-bold ml-3 mb-3 mt-3">
          {% trans "Feedback Answer" %}
        </h1>
      </div>

      <div class="oh-card mb-3" style="border-radius: 10px;">

        <!-- <span>{{ questions_list }}</span> -->

        <!-- {% regroup questions by title as question_groups %} -->

        {% for q in questions %}
          <div class="d-block mb-3">

              <div style="color: #545454; margin-bottom: 1rem;">
                {% if q.title and q.question_type != '1' %}
                  <span class="oh-label oh-label--question" style="font-size: 1.2rem; color: #000">{{ q.title }}</span>
                {% endif %}
                  
                {% if q.description %}
                  <span class="oh-label oh-label--question" style="color: #545454; font-weight: 100;">{{ q.description }}</span>
                {% endif %}

                {% if q.points %}
                  <p style="font-weight: bold; margin-bottom: 0;">What it involves:</p>
                  <ul class="oh-label--question" style="list-style-type: disc; font-weight: 100; margin-top: 0;">
                    {{ q.points|comma_to_list|safe }}
                  </ul>
                {% endif %}

                {% if q.footer %}
                  <p style="font-weight: bold; margin-bottom: 0;">In short:</p>
                  <span class="oh-label--question" style="font-weight: 100; margin-bottom: 1rem;">{{ q.footer }}</span>
                {% endif %}
              </div>

              {# RATING (2) #}
              {% if q.question_type == '2' %}
                <div class="oh-rate mt-2 mb-2">
                  {% for i, text in rating_values %}
                    <input type="radio" id="star{{i}}{{q.id}}" name="answer{{q.id}}" class="rating-radio" value="{{i}}"
                          {% if existing_answers|get:q.id|stringformat:"s" == i|stringformat:"s" %}checked{% endif %} />
                    <label for="star{{i}}{{q.id}}" title="{{i}} {% trans text %}">{{i}} {% trans text %}</label>
                  {% endfor %}
                </div>
                <span id="rating-radio-error"></span>
              {% endif %}

              {# TEXT (1) #}
              {% if q.question_type == '1' %}
                <textarea class="oh-input w-100 mb-5" name="answer{{ q.id }}">{{existing_answers|get:q.id|default_if_none:""}}</textarea>
              {% endif %}

              {# BOOLEAN (3) #}
              {% if q.question_type == '3' %}
                <div class="oh-input__group mt-2">
                  <div class="oh-input-picker-group">
                    <label class="oh-input-picker oh-input-picker--likert oh-input-picker--4">
                      {% trans "Yes" %}
                      <input type="radio" name="answer{{q.id}}" value="yes"
                            {% if existing_answers|get:q.id == 'yes' %}checked{% endif %} />
                    </label>
                    <label class="oh-input-picker oh-input-picker--likert oh-input-picker--1">
                      {% trans "No" %}
                      <input type="radio" name="answer{{q.id}}" value="no"
                            {% if existing_answers|get:q.id == 'no' %}checked{% endif %} />
                    </label>
                  </div>
                </div>
              {% endif %}

              {# MULTI-CHOICE (4) #}
              {% if q.question_type == '4' %}
                <div class="d-block mt-2">
                  <div class="oh-questions mt-2">
                    {% for option in options %}
                      {% if option.question_id.id == q.id %}
                        {% for choice in option|dictsort:"id" %}
                        {% endfor %}
                        {% for choice in question_options %}
                          {% if choice %}
                            <div class="oh-questions__answer" style="display:inline-block; margin-right:10px;">
                              <label class="custom-radio-container">
                                <input type="radio" name="answer{{ q.id }}" value="{{ choice }}" />
                                <span class="custom-radio-checkmark"></span>
                                {{ choice }}
                              </label>
                            </div>
                          {% endif %}
                        {% endfor %}
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
              {% endif %}

              {# LIKERT (5) #}
              {% if q.question_type == '5' %}
                <div class="d-block mt-2">
                  <div class="oh-input-picker-group oh-input-picker-group--resp mt-2">
                    {% for val in likert_values %}
                      <div class="oh-input-picker oh-input-picker--likert oh-input-picker--{{ forloop.counter }} {% if existing_answers|get:q.id|stringformat:"s" == val|stringformat:"s" %}oh-input-picker--selected{% endif %}">
                        {% trans val %}
                        <input type="radio" name="answer{{q.id}}" value="{{ val }}"
                              {% if existing_answers|get:q.id|stringformat:"s" == val|stringformat:"s" %}checked{% endif %} />
                      </div>
                    {% endfor %}
                  </div>
                </div>
              {% endif %}

          </div>
        {% endfor %}


      </div>

      {# ---- KEY RESULTS ---- #}
      {% if feedback.employee_key_results_id.all %}
        <div class="oh-main__titlebar oh-main__titlebar--left">
          <h1 class="oh-main__titlebar-title fw-bold ml-3 mb-3 mt-3">
            {% trans "Key Result" %}
          </h1>
        </div>

        <div class="oh-card">
          {% for key_result in feedback.employee_key_results_id.all %}
            <div class="d-block">
              <span class="oh-label oh-label--question">{{ forloop.counter }}. {{ key_result.key_result }}</span>
              <div class="oh-input-picker-group oh-input-picker-group--resp mt-2">
                {% for val in keyresult_values %}
                  <div class="oh-input-picker oh-input-picker--likert oh-input-picker--{{ forloop.counter }} {% if existing_keyresults|get:key_result.id == val %}oh-input-picker--selected{% endif %}"">
                    {% trans val %}
                    <input type="radio" name="key_result{{key_result.id}}" value="{{val}}" required
                           {% if existing_keyresults|get:key_result.id == val %}checked{% endif %} />
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}

      <div class="oh-modal__dialog-footer mb-3 flex gap-3">
        <button type="submit" name="action" value="save" class="oh-btn oh-btn--secondary oh-btn--shadow">
          {% trans "Save" %}
        </button>

        <button type="submit" name="action" value="submit" class="oh-btn oh-btn--primary oh-btn--shadow">
          {% trans "Submit" %}
        </button>
      </div>
    </div>
  </form>
</div>

<script>
    // document.querySelectorAll('.rating-radio').forEach(radio => {
    //   radio.addEventListener('click', function(event) {
    //     event.preventDefault(); // prevents default scrolling behavior
    //     this.checked = !this.checked;    // manually check it
    //   });
    // });

  document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('.oh-rate input[type="radio"]').forEach(el => {
      el.style.position = 'relative';
      el.style.top = '0';
      el.style.visibility = 'hidden'
      el.style.width = '0'
      el.style.height = '0'
      el.style.marginLeft= '-30px'
    });
  });
</script>
{% endblock content %}
